<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} {% endblock %}- karolinejakobsen.com</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/mystyles.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/style.css") }}?version=1.0.2">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/flatpickr.min.css") }}">
    <script src="{{ url_for("static", filename="js/jquery-3.3.1.min.js") }}"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/solid.css"
          integrity="sha384-r/k8YTFqmlOaqRkZuSiE9trsrDXkh07mRaoGBMoDcmA58OHILZPsk29i2BsFng1B"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/fontawesome.css"
          integrity="sha384-4aon80D8rXCGx9ayDt85LbyUHeMWd3UiBaWliBlJ53yzm9hqN21A+o1pqoyK04h+"
          crossorigin="anonymous">
    {% block extra_imports %}{% endblock %}
</head>
<body>

{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div id="notification-list">
            <ul>
                {% for category, message in messages %}
                    <li class="has-background-{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endwith %}

<div id="wrapper">
    {% block content %}{% endblock %}
</div>

</body>

{% block scripts %}{% endblock %}
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach(el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });
        }
    });
</script>
</html>