<nav class="navbar is-transparent is-fixed-top" role="navigation" id="navbar">
    <div class="container is-uppercase">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ url_for('site.index') }}">
                {#<img src="{{ url_for('static', filename='img/logo.png') }}" alt="">#}
                <p class="is-size-4">
                    Karoline<span class="has-text-weight-bold">Jakobsen</span>
                </p>
            </a>
            <div class="navbar-burger burger" data-target="navMenu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="navbar-menu" id="navMenu">
            <div class="navbar-end" style="font-weight: 500">
                {% if current_user.admin %}
                    <div class="navbar-item">
                        <p class="control">
                            <a class="button is-primary is-rounded"
                               href="{{ url_for("admin.index") }}">
                                <span>{{ _("Admin") }}</span>
                            </a>
                        </p>
                    </div>
                {% endif %}
                <a href="mailto:karolinejakobsen@gmail.com" class="navbar-item">
                    <span><i class="fas fa-paper-plane"></i> karolinejakobsen@gmail.com</span>
                </a>
                <a href="{{ url_for("site.projects") }}" class="navbar-item">
                    {{ _("Projects") }}
                </a>
                <a href="{{ url_for("site.about") }}" class="navbar-item">
                    {{ _("About") }}
                </a>
                {% if current_user.is_authenticated %}
                    <div class="navbar-item">
                        <p class="control">
                            <a class="button is-primary is-outlined is-rounded"
                               href="{{ url_for("admin.logout") }}">
                                <span>{{ _("Logout") }}</span>
                            </a>
                        </p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</nav>