{% extends 'base.html' %}

{% block title %}{{ _("Admin") }}{% endblock %}

{% block content %}
    <section class="section hero is-medium">
        <div class="container">
            <div class="hero-body">
                <div class="columns">
                    <div class="column is-half">
                        <h3 class="is-size-1">{{ _("Project administration") }}</h3>
                        <a class="button is-success is-large" href="{{ url_for("site.new_project") }}">
                            {{ _("New project") }}
                        </a>
                    </div>
                    <div class="column is-half">
                        <h3 class="is-size-1">{{ _("Settings") }}</h3>
                        <a class="button is-dark is-large" href="{{ url_for("admin.front_page_settings") }}">
                            {{ _("Front page settings") }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}