{% extends 'base.html' %}

{% block title %}
    {{ _("About") }}
{% endblock %}

{% block content %}
    <div class="is-centered-vh">
        <section class="section hero">
            <div class="container is-narrow">
                <div class="columns">
                    <div class="column is-centered has-text-centered">
                        <div class="picture">
                            <figure id="profile-picture">
                                <img src="{{ url_for("static", filename="images/profile.jpg") }}" alt="">
                            </figure>
                        </div>
                        <h3 class="is-size-3">{{ _("22 year old photographer student based in Aarhus") }}</h3>
                        <h5 class="is-size-5">{{ _("Studying at Media College Viborg") }}</h5>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block footer %}{% endblock %}