{% extends 'base.html' %}

{% block title %}
    {{ _("Landing page") }}
{% endblock %}

{% block content %}
    <div class="is-centered-vh">
        <section class="section">
            <div class="container">
                {% for picture_row in pictures|batch(batch_length) %}
                    <div class="columns">
                        {% for picture in picture_row %}
                            <div class="column">
                                <img src="{{ url_for("static", filename="photos/" + picture.filename + ".jpeg") }}"
                                     class="landing-page-photo">
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock %}

{% block footer %}{% endblock %}