{% extends 'base.html' %}
{% block title %}
    {{ _("Landing page") }}
{% endblock %}

{% block content %}
    <div class="is-centered-vh">
        <section>
            <div class="container">
                {% for project_row in projects|batch(batch_length) %}
                    <div class="columns">
                        {% if projects %}
                            {% for project in project_row %}
                                <div class="column is-one-third">
                                    <a href="{{ url_for("site.project", id=project.id) }}">
                                        <div class="card">
                                            <div class="card-image">
                                                <figure class="image">
                                                    {% if project.cover_picture %}
                                                        <img src="{{ url_for("static", filename="photos/" + project.cover_picture + ".jpeg") }}"
                                                             alt="Cover image for {{ project.title }}">
                                                    {% endif %}
                                                </figure>
                                            </div>
                                            <div class="card-content">
                                                <div class="media">
                                                    <div class="media-content">
                                                        <p class="title is-4">{{ project.title }}</p>
                                                        <a href="{{ url_for("site.project", id=project.id) }}"
                                                           class="is-pulled-right button is-outlined is-dark is-rounded"
                                                        >{{ _("View project") }}</a>
                                                    </div>
                                                </div>

                                                <div class="content">
                                                    <div class="columns">
                                                        <div class="column">
                                                            <time datetime="{{ project.date.strftime("%Y-%m-%d") }}">
                                                                {{ project.date.strftime("%Y-%m-%d") }}
                                                            </time>
                                                        </div>
                                                    </div>
                                                    {% if current_user.admin %}
                                                        <div class="columns">
                                                            <div class="column">
                                                                <a href="{{ url_for("site.delete_project", id=project.id) }}"
                                                                   class="button is-danger is-outlined is-rounded"
                                                                ><i class="fas fa-trash"></i></a>
                                                            </div>
                                                            <div class="column">
                                                                <a href="{{ url_for("admin.tif_photos", project_id=project.id) }}"
                                                                   class="button is-pulled-right is-outlined is-rounded"
                                                                ><i class="fas fa-cloud-download-alt"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="column has-text-centered">
                                <p class="is-size-5">There are no projects uploaded yet.</p>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock %}