<form method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    {% if form.title %}
        <div class="field">
            <label class="label">{{ _("Title") }}</label>
            <div class="control">
                <input type="text"
                       class="input"
                       placeholder="{{ _("... insert title") }}"
                       name="title"
                        {% if project and project.title %}
                       value="{{ project.title }}"
                        {% endif %}
                >
            </div>
        </div>
    {% endif %}

    {% if form.description %}
        <div class="field">
            <label class="label">{{ _("Description") }}</label>
            <div class="control">
            <textarea
                    class="textarea"
                    placeholder="{{ _("... insert description") }}"
                    name="description"
            >{% if project and project.description %}{{ project.title }}{% endif %}</textarea>
            </div>
        </div>
    {% endif %}

    {% if form.pictures %}
        <div class="field">
            <div class="file">
                <label class="file-label">
                    {{ form.pictures(class_="file-input") }}
                    <span class="file-cta">
                    <span class="file-icon"><i class="fas fa-upload"></i></span>
                    <span class="file-label">{{ _("Select all the pictures for this project…") }}</span>
                </span>
                </label>
            </div>
        </div>
    {% endif %}


    {% if form.cover_picture %}
        <div class="field">
            <div class="file">
                <label class="file-label is-fullwidth">
                    {{ form.cover_picture(class_="file-input") }}
                    <span class="file-cta">
                    <span class="file-icon"><i class="fas fa-upload"></i></span>
                    <span class="file-label">{{ _("Select the cover picture…") }}</span>
                </span>
                </label>
            </div>
        </div>
    {% endif %}

    {% if form.date %}
        <div class="field">
            <label class="label">{{ _("Date") }}</label>
            <div class="control">
            <input
                    class="input"
                    placeholder="{{ _("... insert date") }}"
                    name="date"
                    type="date"
                    id="date"
                    {% if project and project.date %}
                    value="{{ project.date.strftime("%d/%m/%Y") }}"
                    {% endif %}
            >
            </div>
        </div>
    {% endif %}

    <div class="field">
        <div class="control">
            <button class="button is-large is-primary" type="submit">{{ _("Submit") }}</button>
        </div>
    </div>
</form>