{% extends "base.html" %}

{% block content %}
    <section class="section">
        <div class="container">
            {% for picture_columns in pictures|batch(3) %}
                <div class="columns">
                    {% for picture in picture_columns %}
                        <div class="column is-one-third-desktop">
                            <figure>
                                <img src="{{ url_for("static", filename="photos/" + picture.filename +".jpeg") }}"
                                     alt="">
                                {% if current_user.admin %}
                                    <a href="{{ url_for("site.remove_photo_from_project", project_id=project.id, filename=picture.filename) }}"
                                       class="button is-danger hidden"><i class="fas fa-trash"></i></a>
                                {% endif %}
                            </figure>

                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}