{% extends "base.html" %}

{% block extra_imports %}
    <script src="{{ url_for("static", filename="js/jquery-3.3.1.min.js") }}"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/solid.css"
          integrity="sha384-r/k8YTFqmlOaqRkZuSiE9trsrDXkh07mRaoGBMoDcmA58OHILZPsk29i2BsFng1B" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/fontawesome.css"
          integrity="sha384-4aon80D8rXCGx9ayDt85LbyUHeMWd3UiBaWliBlJ53yzm9hqN21A+o1pqoyK04h+" crossorigin="anonymous">
{% endblock %}

{% block content %}
    <section class="section is-centered-vh">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-one-third-desktop">
                    {% include "admin/settings/front_page_form.html" %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}