<form method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="field">
        <div class="file">
            <label class="file-label">
                {{ form.pictures(class_="file-input") }}
                <span class="file-cta">
                    <span class="file-icon"><i class="fas fa-upload"></i></span>
                    <span class="file-label">{{ _("Select the photo(s) you want to appear on the front page.") }}</span>
                </span>
            </label>
        </div>
    </div>

    <div class="field">
        <div class="control">
            <button class="button is-large is-primary" type="submit">{{ _("Submit") }}</button>
        </div>
    </div>
</form>