html {
    display: flex;
    /*overflow-y: auto;*/
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    width: 100%;
    /*padding-top: 3.25rem;*/
}

#wrapper {
    flex-grow: 1;
    height: 100%;
}

.footer, #navbar {
    flex-shrink: 0;
}

.footer {
    background: #1c1c1c;
}

.footer > .container > .columns:last-child {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

#notification-list {
    position: fixed;
    left: 12px;
    bottom: 12px;
    height: auto;
    z-index: 50;
    min-width: 0;
}

#notification-list ul {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    padding: 0;
}

#notification-list ul li {
    line-height: 25px;
    height: 35px;
    width: auto;
    margin-top: 12px;
    background-color: rgb(45, 45, 45);
    color: white;
    padding: 5px 20px 5px 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 3px;
    opacity: 0;
    -webkit-animation: fadeinout 5s linear forwards;
    -o-animation: fadeinout 5s linear forwards;
    animation: fadeinout 5s linear forwards;
}

@-webkit-keyframes fadeinout {
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
}

@keyframes fadeinout {
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
}

@-o-keyframes fadeinout {
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }

}

#logo {
    letter-spacing: -0.05em;
    font-weight: 600;
}


.is-centered-vh {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
}

figure.image a {
    position: absolute;
    top: 0;
    left: 0;
}

.hidden {
    display: none;
}

figure:hover .hidden {
    display: block;
}

#profile-picture {
    display: flex;
    align-content: center;
}

.picture {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#profile-picture {
    height: 200px;
    width: 128px;
}

#profile-picture img {
    border-radius: 50%
}

.landing-page-photo {
    position: relative;
    float: left;
    width:  100%;
    height: 100%;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    object-fit: cover;
}

figure.image img {
    position: relative;
    float: none;
    height: 400px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    object-fit: cover;
}

section.section {
    padding: 0 0;
}